<h3>
  当オンラインサロンは現在準備中です。<br>
  以下のフォームより、ご予約を承っております。
</h3>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd8U6Ox_BnQYksNsoDru_9rqe8ovysKWMziPOsBx-BMsksLrQ/viewform?embedded=true" 
width="640" height="950" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>