<body>
<h1>Shinya Ishizaki's Portfolio</h1>
<%= image_tag 'icon.jpg', alt: 'プロフィール写真', class: 'profileimage' %>
<h2>Engineer</h2>
<h3>損害保険会社、生命保険会社、銀行向け営業店・代理店システム保守開発に4年携わる。<br>
他業種他職種を経て独立。<br>
Web系エンジニアとして活動するとともに、プログラミング初心者のメンターとしてエンジニアの育成にも力を入れる。</h3>
<div>
  <div>
    <button class="careerdetail" type="button" 
    onclick=location.href="https://www.resume.id/shinya_ishizaki">職務経歴詳細はこちら</button>
  </div>
  <div>
    <button class="menta" type="button" 
    onclick=location.href="https://menta.work/plan/4224">プログラミングの<br>メンター依頼はこちら</button>
  </div>
</div>
</body>