body {
  background-color: antiquewhite;
}

.careerdetail {
  border-radius: 15px;
  background-color: blue;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
}

.menta {
  border-radius: 15px;
  background-color: green ;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
}

.work {
  border-radius: 15px;
  background-color: blue ;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
}

.blog {
  border-radius: 15px;
  background-color: green ;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
}