body {
  background-color: antiquewhite;
}

.links {
  display: flex;
}

.careerdetail {
  border-radius: 15px;
  background-color: blue;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
}

.menta {
  border-radius: 15px;
  background-color: green ;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
}

.work {
  border-radius: 15px;
  background-color: blue ;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
}

.blog {
  border-radius: 15px;
  background-color: green ;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
}

.snslinks {
  display: flex;
  margin-bottom: 20px;
}

.snslink {
  margin-right: 20px;
  font-size: 1.5em;
}

.salon {
  border-radius: 15px;
  background-color: yellowgreen ;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
  .links {
    display: inline;
  }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  .links {
    display: inline;
  }
}
@media screen and (min-width: 960px) {
  img {
    max-width: 960px;
  }
}